@model IEnumerable<ProjetLogoV1._0.Models.Praticien>
@{
    ViewBag.Title = "ReadOnlyPraticien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des praticiens</h2>

@if (!Model.Any())
{
    <p>Pas encore de patients connu!</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro Inami</th>
                <th>Spécialisation</th>
                <th>Adresse Email</th>
                <th>Téléphone fixe</th>
                <th>Gsm</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var praticien in Model)
            {
                <tr>
                    <td>@praticien.Nom</td>
                    <td>@praticien.Prenom</td>
                    <td>@praticien.Inami</td>
                    <td>@praticien.Specialisation.Nom</td>
                    <td>@praticien.Email</td>
                    <td>0032/@praticien.TelFixe</td>
                    <td>0032/@praticien.Gsm</td>
                </tr>
            }
        </tbody>
    </table>
}