@model ProjetLogoV1._0.Models.Patient
@{
    ViewBag.Title = "DetailPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail du patient</h2>

<h3>Donnée du patient</h3>

<ul>
    <li>Nom du patient : @Model.Nom</li>
    <li>Prénom du patient : @Model.Prenom</li>
    <li>Date de naissance : @Model.DateNaissance.Day / @Model.DateNaissance.Month / @Model.DateNaissance.Year</li>
    <li>Adresse Email : @Model.Email</li>
    @if (Model.TelFixe == null)
    {
        <li>Pas de téléphone fixe connu!</li>
    }
    else
    {
        <li>Numéro de téléphone fixe : @Model.TelFixe</li>
    }
    
    @if (Model.Gsm == null)
    {
        <li>Pas de GSM connu!</li>
    }
    else
    {
        <li>Numéro de GSM : @Model.Gsm</li>
    }
    
    <li>Latéralité : @Model.Lateralite.nom</li>
</ul>

<h3>Adresse du patient</h3>

<ul>
    <li>Nom de rue : @Model.Adresse.Rue</li>
    <li>Numéro de maison/appartement : @Model.Adresse.NumeroRue</li>
    @if (Model.Adresse.BoitePostal == null)
    {
        <li>Pas de numéo de boîte encodé!</li>
    }
    else
    {
        <li>Boîte postal : @Model.Adresse.BoitePostal</li>
    }
    <li>Code postal : @Model.Adresse.CodePostal</li>
    <li>Ville : @Model.Adresse.Ville</li>
    <li>Pays : @Model.Adresse.Pays</li>
</ul>

<h3>Informations complémentaires</h3>

<h4>Anamnèse du patient</h4>

<p>@Model.Anamnèse</p>

<h4>Commentaires supplémentaires</h4>

<p>@Model.Commentaire</p>

<button type="button" class="btn btn-primary btn-lg" onclick="window.history.back();">Retour</button>